// BUTTON 
.btn{
	display: inline-block;
	font-family: 'Lato';
	white-space: nowrap;
	&--blue{
		font-size: 16px;
		border-radius: 30px;
		color: #fff;
		background-color: #267df4;
	}
	&--burger{
		margin-right: 30px;
		height: 13px;
		width: 18px;
		background:  url('../Img/Header/Icon_01.png') no-repeat;
	}
	&--grey {
		padding: 12px 40px;
		font-size: 16px;
		//font-weight: 400;
		color: #26272d;
		border: 1px #dadcdf solid;
		border-radius: 30px;
	}

	&--green{
		font-size: 16px;
		white-space: nowrap;
		padding: 13px 22px;
		border-radius: 30px;
		color: #fff;
		background-color: #6fc754;

		// @media (max-width: $md4 + px){
		// 	@include adaptiv-value('padding-left', 22, 15, 320);
		// 	@include adaptiv-value('padding-right', 22, 15, 320);
		// 	span{
		// 		@include adaptiv-value('padding-right', 30, 15, 0);
		// 	}
		// };
	}

	&--black{
		text-align: center;
		padding: 13px 22px;
		border-radius: 30px;
		font-size: 12px;
		font-weight: 400;
		color: #ffffff;
		background-color: #131315;

		p{
			font-size: 23px;
			line-height: 22px;
		}
	}

	&--white{
		padding: 12px 40px;
		font-size: 16px;
		color: #2a80f4;
		border: 1px #2a80f4 solid;
		border-radius: 30px;

		@media (max-width: $md1 + px){
			@include adaptiv-value('padding-right', 40, 25, $md3);
			@include adaptiv-value('padding-left', 40, 25, $md3);
		};

		@media (max-width: $md3 + px){
			@include adaptiv-value('padding-right', 40, 20, $md4);
			@include adaptiv-value('padding-left', 40, 20, $md4);
		};
	}

	&--get {
		span{
			padding-left: 26px;
			background:  url('../Img/Header/Icon_02.png') no-repeat left;
		}

		@media (max-width: $md2 + px){
			display: none;
		};
	}
	&:hover{}
	&.fw{width: 100%;}
}

// INPUT
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.input{
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 18px;

	&.focus{}
	&.err{}
}

// TEXTAREA
textarea.input{
	resize:none;
}
