// BUTTON 
.btn{
	display: inline-block;
	&--blue{
		height: 42px;
		line-height: 42px;
		padding: 0px 22px;
		border-radius: 30px;
		color: #fff;
		background-color: #267df4;
		span{
			padding-left: 26px;
			background:  url('../Img/Header/Icon_02.png') no-repeat left;
		}

		@media (max-width: $md2 + px){
			display: none;
		};
	}
	&--burger{
		margin-right: 30px;
		height: 13px;
		width: 18px;
		background:  url('../Img/Header/Icon_01.png') no-repeat;
	}
	&--grey {
		padding: 14px 40px;
		font-size: 16px;
		font-weight: 400;
		color: #26272d;
		border: 1px #dadcdf solid;
		border-radius: 30px;
	}
	&:hover{}
	&.fw{width: 100%;}
}

// INPUT
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.input{
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 18px;

	&.focus{}
	&.err{}
}

// TEXTAREA
textarea.input{
	resize:none;
}
