// BUTTON 
.btn{
	display: inline-block;
	font-family: 'Lato';
	&--blue{
		font-size: 16px;
		// height: 42px;
		// line-height: 42px;
		// padding: 0px 22px;

		padding: 13px 22px;
		border-radius: 30px;
		color: #fff;
		background-color: #267df4;
	}
	&--burger{
		margin-right: 30px;
		height: 13px;
		width: 18px;
		background:  url('../Img/Header/Icon_01.png') no-repeat;
	}
	&--grey {
		padding: 12px 40px;
		font-size: 16px;
		//font-weight: 400;
		color: #26272d;
		border: 1px #dadcdf solid;
		border-radius: 30px;
	}

	&--green{
		font-size: 16px;
		// height: 42px;
		// line-height: 42px;
		// padding: 0px 22px;
		white-space: nowrap;
		padding: 13px 22px;
		border-radius: 30px;
		color: #fff;
		background-color: #6fc754;

		@media (max-width: $md4 + px){
			@include adaptiv-value('padding-left', 22, 15, 320);
			@include adaptiv-value('padding-right', 22, 15, 320);
			span{
				@include adaptiv-value('padding-right', 30, 15, 0);
			}
		};
	}

	&--black{
		text-align: center;
		padding: 13px 22px;
		border-radius: 30px;
		font-size: 12px;
		font-weight: 400;
		color: #ffffff;
		background-color: #131315;

		p{
			font-size: 23px;
			line-height: 22px;
		}
	}

	&--get {
		span{
			padding-left: 26px;
			background:  url('../Img/Header/Icon_02.png') no-repeat left;
		}

		@media (max-width: $md2 + px){
			display: none;
		};
	}
	&:hover{}
	&.fw{width: 100%;}
}

// INPUT
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.input{
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 18px;

	&.focus{}
	&.err{}
}

// TEXTAREA
textarea.input{
	resize:none;
}
