header{
	padding-top: 45px;
}
.header-body {
	justify-content: space-between;
	position: relative;
	z-index: 1;
	@include flexbox();
	align-items: center;
	margin-bottom: 130px;
	@media (max-width: $md1 + px){
		padding: 0px 20px;
		//@include adaptiv-value('margin-bottom', 130, 70, 0);
	};
	@media (max-height: 900px){
		margin-bottom: 80px;
	};
	@media (max-height: 800px){
		margin-bottom: 50px;
	};
}
.menu {
	@include flexbox();
	align-items: center;
}
.menu__item {
	@media (max-width: $md3 + px){
		display: none;
	};

	font-size: 16px;
	color: #26272d;
	margin-right: 40px;
	&:last-child{
		margin-right: 0;
	}
	&:not(.btn):hover {  
   		color: #a9aaab;
	}

	@media (max-width: $md1 + px){
		@include adaptiv-value('margin-right', 40, 10, 320);
	};
}
.right {
	justify-content: flex-end;
	@media (max-width: $md2 + px){
		& a:nth-last-child(2){
			margin-right: 0;
		}
	};
}
.logo {
	img{
		display: inline-block;
	}
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
